<ion-view view-title="WSKAZANIA">
  <ion-content class="padding">
    <h4>Odczyt temperatury i wilgotności</h4>

    <div id="sensors-list" class="list" ng-repeat="item in sensors">
        <div class="item item-divider">
          Czujnik {{$index+1}}
        </div>
        <div class="item">
          Temperatura
          <span ng-class="item.temperature >= 40 ? 'custom-item-note high-value' : 'custom-item-note'">
            {{item.temperature}}&deg;C <span ng-if="item.temperature >= 40"> ! </span>
          </span>
        </div>
        <div class="item">
          Wilgotność
            <span ng-class="item.humidity >= 50 ? 'custom-item-note high-value' : 'custom-item-note'">
              {{item.humidity}}% <span ng-if="item.humidity >= 50"> ! </span>
            </span>
        </div>
    </div>

    <div id="notifiers">
      <p id="update-failed-notifier" class="update-failed-notification">Błąd pobierania</p>
    </div>

    <div ng-if="lastUpdateTimestamp">
      <h5>Ostatnia aktualizacja: {{lastUpdateTimestamp}}</h5>
    </div>

      <button class="button button-block button-positive" ng-click="refreshSensors()">
        Odśwież
      </button>
  </ion-content>
</ion-view>
