/* Empty. Add your own CSS if you like */
@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}

.event {
  border-radius:4px;
  -webkit-border-radius:4px;
  color:#FFFFFF;
  font-size:12px;
  margin:0px 30px;
  padding:2px 0px;
  text-align: center;
}

.event.waiting{
  background-color:#006699;
  display:none;
}

.event.error{
  background-color: darkred;
  display:none;
}
